<!DOCTYPE html>
<html>
<head>
	{{template "sysmanage/aalayout/meta.tpl" .}}
</head>
<body>
<div class="layui-fluid">
	<div class="layui-row layui-col-space10">
		<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
			<!--tab标签-->
			<div class="layui-tab layui-tab-brief">
				<ul class="layui-tab-title">
					<li class=""><a href='{{urlfor "LevelController.get"}}'>VIP等级列表</a></li>
					<li class="layui-this">修改VIP等级</li>
				</ul>
				<div class="layui-tab-content">
					<div class="layui-tab-item layui-show">
						<form class="layui-form form-container" action='{{urlfor "LevelEditController.post"}}' method="post">
							<input type="hidden" name = "Id" value="{{.data.Id}}">
							{{ .xsrfdata }}
							<div class="layui-form-item">
								<label class="layui-form-label">好运金</label>
								<div class="layui-input-block">
									<input onkeyup = "value=value.replace(/[^\d]/g,'')" type="text" name="LuckyGift" value="{{.data.LuckyGift}}" required lay-verify="required" placeholder="请输入好运金金额" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">天投注</label>
								<div class="layui-input-block">
									<input onkeyup = "value=value.replace(/[^\d]/g,'')" type="text" name="MonthBet" value="{{.data.MonthBet}}" required lay-verify="required" placeholder="请输入累计投注" class="layui-input">
								</div>
								{{/*<div class="layui-form-mid layui-word-aux">例子：1,2,3,4,5(请使用英文,)</div>*/}}
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">最小VIP等级</label>
								<div class="layui-input-inline">
									<input onkeyup = "value=value.replace(/[^\d]/g,'')" type="text" name="MinVipLevel" value="{{.data.MinVipLevel}}" required lay-verify="required" placeholder="请输入晋级礼金" class="layui-input">
								</div>
								<div class="layui-form-mid layui-word-aux">例：vip1,只需要填写1即可。</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">最大VIP等级</label>
								<div class="layui-input-inline">
									<input onkeyup = "value=value.replace(/[^\d]/g,'')" type="text" name="MaxVipLevel" value="{{.data.MaxVipLevel}}" required lay-verify="required" placeholder="请输入每月好运金" class="layui-input">
								</div>
								<div class="layui-form-mid layui-word-aux">例：vip1,只需要填写1即可。</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-input-block">
									<button class="layui-btn" lay-submit lay-filter="*">保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "sysmanage/aalayout/footjs.tpl" .}}
</body>
</html>
