<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="/static/front/css/login.css">
</head>
<body>
<div id="container">
    <div id="output">
        <div class="containerT">
            <h1>会员登录</h1>
            <form class="form" id="entry_form">
                <input type="text" placeholder="请输入您的账号" autofocus id="name">
                <button type="button" id="entry_btn" onclick="checkuser()">登&nbsp;&nbsp;&nbsp;录</button>
                <div id="prompt" class="prompt"></div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/front/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/front/js/vector.js"></script>
<script src="/static/front/js/bootstrap.js"></script>
<script src="/static/back/layer-v3.1.1/layer.js"></script>
<script type="text/javascript">
    $(function () {
        Victor("container", "output");   //登陆背景函数
        $("#entry_name").focus();
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                $("#entry_btn").click();
            }
        });
    });

    function checkuser() {
        var name = $("#name").val();
        if (name === "") {
            layer.msg("会员账号不能为空");
            return
        }
        $.ajax({
            url: {{urlfor "FrontIndexController.Post"}},
            type: "post",
            data: {"name": name},
            success: function (info) {
                if (info.code === 1) {

                    layer.msg(info.msg);
                    location.href = info.url;
                }
                layer.msg(info.msg);
            },
        });
    }
</script>

</body>
</html>
