<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>VIP查询中心</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/front/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/front/css/vipCenter.css"/>
    <script src="/static/front/js/jquery-3.3.1.min.js"></script>
    
</head>
<body>
<div id="vipFather" class="container">
    <div class="row">
        <div class="title col-md-12 row ">
            <div class="col-md-4 col-xs-2 text-left">
                <span onclick="back()" class="icon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </div>
            <div class="ctr col-md-4 col-xs-8 text-center">
                <span class="icon icont">会员中心</span>
                <a class="adet" href='{{urlfor "VipCenterController.QueryPrivilege"}}?name={{.fontmt.Account}}'>
                    <span class="det glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-md-4 col-xs-2">
            </div>
        </div>
        <div class="bigLog col-md-12">
            <button id="bbtn" class="bubbly-button" onclick="prize(this);">
                <span>点</span><span>我</span><span>领</span><span>钱</span>
            </button>
            <div id="datetime"></div>
            <div class="cash">
                <div id="allcash" class="cashcl">
                    总收益(元)
                    <a href="javascript:void(0);" onclick="clickaOne()">
                        <img class="zdcash" src="/static/front/img/zdcash.png" alt="">
                    </a>
                    <div class="jjs">
                        <b class="jj1">{{.sumtimegift}}</b>
                    </div>
                </div>
                <div id="bcash" class="cashcl">
                    奖励金&nbsp;
                    <b class="jj2">{{.nowtimegift}}</b>
                    <a href="javascript:void(0);" onclick="clickaTwo()">
                        <img class="gzcash" src="/static/front/img/gzcash.png" alt="">
                    </a>
                </div>
                <div id="xc" class="cashcl">领奖倒计时：</div>
                <div id="countdown" class="cashtime">
                    <div class="days">
                        <b id="dnb" class="numbers"></b>天
                    </div>
                    <div class="hours">
                        <b id="hnb" class="numbers"></b>时
                    </div>
                    <div class="minutes">
                        <b id="mnb" class="numbers"></b>分
                    </div>
                    <div class="seconds">
                        <b id="snb" class="numbers"></b>秒
                    </div>
                </div>
            </div>
            <!-- <img src="{{.level.Bgimg}}" alt=""> -->
        </div>

        <!-- 模态框1 -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <img class="cashimg" src="/static/front/img/sqqq1.gif" alt="">
                <div id="mhr1" class="modal-header">
                    <div class="zw1"></div>
                    <span id="closeBtn" class="close">
                        <img class="Ximg" src="/static/front/img/closeX.png" alt="">
                    </span>
                </div>
                <div class="modal-body">
                    <div class="jj3"></div>
                </div>
            </div>
        </div>

        <!-- 模态框2 -->
        <div id="myModal2" class="modal">
            <div id="mc2" class="modal-content">
                <div class="modal-header">
                    <h3>领奖记录</h3>
                </div>
                <div id="mby1" class="modal-body">
                </div>
            </div>
            <span id="closeBtn2" class="close1">
                    <img class="Ximg3" src="/static/front/img/closeX.png" alt="">
            </span>
        </div>

        <!-- 模态框3 -->
        <div id="myModal3" class="modal">
            <div id="mc3" class="modal-content">
                <div class="modal-header">
                    <div class="mytitle">奖励金对照表</div>
                    <div class="mydtls">用户得到的奖励金是按照VIP等级增长，则最高的奖励金上限不断增加。</div>
                    <div class="myts">温馨提示：累计金额没有上限</div>
                </div>
                <div class="modal-body">
                        <table class="altrowstable" id="alternatecolor">
                                <tr>
                                    <th>VIP等级</th><th>最高奖励金</th>
                                </tr>
                                <tr>
                                    <td>VIP0</td><td>无</td>
                                </tr>
                                <tr>
                                    <td>VIP1</td><td>10</td>
                                </tr>
                                <tr>
                                    <td>VIP2</td><td>15</td>
                                </tr>
                                <tr>
                                    <td>VIP3</td><td>30</td>
                                </tr>
                                <tr>
                                    <td>VIP4</td><td>50</td>
                                </tr>
                                <tr>
                                    <td>VIP5</td><td>80</td>
                                </tr>
                                <tr>
                                    <td>VIP6</td><td>100</td>
                                </tr>
                                <tr>
                                    <td>VIP7</td><td>150</td>
                                </tr>
                                <tr>
                                    <td>VIP8</td><td>300</td>
                                </tr>
                                <tr>
                                    <td>VIP9</td><td>500</td>
                                </tr>
                                <tr>
                                    <td>VIP10</td><td>1000</td>
                                </tr>
                                <tr>
                                    <td>黄金 VIP</td><td>2000</td>
                                </tr>
                                <tr>
                                    <td>白金 VIP</td><td>3000</td>
                                </tr>
                                <tr>
                                    <td>钻石 VIP</td><td>5000</td>
                                </tr>
                                <tr>
                                    <td>至尊 VIP</td><td>8000</td>
                                </tr>
                                <tr>
                                    <td>粉丝用户</td><td>限时推广</td>
                                </tr>
                                <tr>
                                    <td>忠实用户</td><td>限时推广</td>
                                </tr>
                        </table>
                </div>
            </div>
            <span id="closeBtn3" class="close2">
                    <img class="Ximg2" src="/static/front/img/closeX.png" alt="">
            </span>
        </div>

        <!-- 模态框4 -->
        <div id="myModal4" class="modal" style="display: none;">
            <div id="mc4" style="background: url('{{.noticeimg}}') no-repeat;background-size: 100% 100%;" class="modal-content">
                <div id="mby4" class="modal-body4">
                </div>
            </div>
            <span id="closeBtn4" class="close4">
                    <img class="Ximg3" src="/static/front/img/closeX.png" alt="">
            </span>
        </div>
        
        <div class="cape"></div>

        <div class="lvTitle text-center">
            <div class="welcome text-center ">
                欢迎回来: <span id="userName">{{.fontmt.Account}}</span>
                (您已加入VIP<span style="color: #ffd711">{{.subdays}}</span>天)
            </div>
        </div>
        <div class="vipTitle">
            <div class="vipN text-center">
                <div class="nowLv">
                    <div class="LVnum">VIP{{.fontmt.Level}} </div>
                    <!-- <div>当前等级</div> -->
                </div>
                <div class="vipN text-center">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active"
                             role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                             style="width:{{.bili}}%">
                            <!-- {{.fontmt.Bet}}&nbsp;/&nbsp;{{.blance}} -->
                        </div>
                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                             aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="fonts">
                    <div class="fonts">
                        {{if le  .blance  0}}
                            您已达到最大等级
                        {{else}}
                            {{.fontmt.Bet}}&nbsp;⭐&nbsp;{{.blance}}
                        {{end}}
                    </div>
                </div>
                <div class="nextLv">
                    <div class="LVnum">VIP{{.nextlevel}}</div>
                    <!-- <spn style="color:white">{{.blance}}</spn> -->
                </div>
                <div class="ts">提示：每日VIP12点30分更新</div>
            </div>
            <div id="adone" class="ad">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="vipList col-lg-12 row">
            {{range $i,$v := .colorlevel}}
                <div class="divimg col-md-3 col-xs-3 dropdown">
                    <a class="dropdown-toggle" type="button" id="dropdownMenu{{numberAdd $i 1}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="javascript:void(0);" onclick="drop({{numberAdd $i 1}})">
                        <img src="{{$v.Colorimg}}" alt="loading..."/>
                    </a>
                    <div class="vipNum">{{.VipName}}</div>
                    {{range $h,$l := $.mlls}}
                        {{if eq $v.VipLevel $l.Level }}
                            {{if eq 0 $l.EnAble}}
                                <button id="{{$l.Id}}" onclick="GetGift({{$l.Id}})" class="getAward light">领取奖励</button>
                            {{else}}
                                <button class="getAward over">已领取</button>
                            {{end}}
                        {{end}}
                    {{end}}
                </div>
            {{end}}
            {{range $u,$l := .wblevel}}
                <div class="divimg col-md-3 col-xs-3">
                <a class="dropdown-toggle" type="button" id="dropdownMenu{{$l.VipLevel}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="javascript:void(0);" onclick="drop({{$l.VipLevel}})">
                    <img src="{{$l.Wbimg}}" alt="loading..."/>
                </a>

                    <div class="vipNum">{{.VipName}}</div>
                    <!--当前VIP等级 {{$l.VipLevel}} -->
                    <div class="getAward1">未达到</div>
                </div>
            {{end}}
            <div class="ad">
                <div id="lastrow" class="row">
                    <div class="abb"></div>
                    <div class="abc">

                    </div>
                </div>
            </div>
            <!-- <div id="adtwo" class="ad">
                <div id="ctr" class="row text-center">
                    <div id="colOne" class="aOne">
                        {{range $i,$v := .nav}}
                            <a id="aOne" href="{{$v.WebSite}}" class="btn btn-warning btn-lg"
                               target="_blank">{{$v.Name}}</a>
                        {{end}}
                    </div>
                </div>
                <div class="row">
                </div>
            </div> -->
                <ul class="wx_nav">
                    <li  id="colOne" class="aOne">
                        {{range $i,$v := .nav}}
                        <a id="aOne" href="{{$v.WebSite}}" target="_blank">{{$v.Name}}</a>
                        {{end}}
                    </li>
                </ul>
        </div>
    </div>
    <div class="app">
    </div>
</div>
<script src="/static/front/js/jquery-3.3.1.min.js"></script>
<script src="/static/front/js/bootstrap.js"></script>
<script src="/static/back/layer-v3.1.1/layer.js"></script>
<script>
    //加载模态框
    var close4 = document.getElementById("closeBtn4");
    close4.addEventListener('click',function(){
        $('#myModal4').hide();
    },false);
    
    $(function () {
        /*保级提示*/
        var enable = {{.fontmt.KeepEnable}};
        var account = {{.fontmt.Account}};
        var tip = {{.fontmt.Tip}};
        if (tip == 0) {
            if (enable == 1) {
                layer.open({
                    title: 'VIP提示',
                    content: '很遗憾,您保级失败.',
                    btn: ['确定'],
                    yes: function () {
                        $("#myModal4").show();
                        $.ajax({
                            url: {{urlfor "VipCenterController.ChangeTip"}},
                            type: "POST",
                            data: {"account": account},
                            success: function (info) {
                                layer.closeAll();
                            },
                            error: function (info) {
                                layer.msg(info.responseText || '请求异常', {icon: 2});
                            }
                        });
                    }
                });
            }
            if (enable == 0) {
                layer.open({
                    title: 'VIP提示',
                    content: '恭喜您保级成功。',
                    yes: function () {
                        $("#myModal4").show();
                        $.ajax({
                            url: {{urlfor "VipCenterController.ChangeTip"}},
                            type: "POST",
                            data: {"account": account},
                            success: function (info) {
                                layer.closeAll();
                            },
                            error: function (info) {
                                layer.msg(info.responseText || '请求异常', {icon: 2});
                            }
                        });
                    }
                });
            }
        }else {
            $("#myModal4").show();
        }
    })
</script>
<script>
    function GetGift(id) {
        s = "#" + id;
        $(s).hide();
        $.ajax({
            url: {{urlfor "VipCenterController.Post"}},
            type: "post",
            data: {"id": id},
            success: function (info) {
                if (info.code === 1) {
                    $(s).css("opacity", "0.5");
                    $(s).css("color", "#fff");
                    $(s).css('background', '#542921');
                    $(s).html("已领取");
                }
                $("s").show();
                layer.msg(info.msg);
            },
        });
    }
    function back() {
        layer.open({
            shade: false,
            content: '确定要退出吗？',
            btn: ['确定', '取消'],
            yes: function () {
                location.href = '{{urlfor "FrontIndexController.get"}}';
            }
        })
    }
</script>
<script>
    var ac = {{.fontmt.Account}};
    function drop(a) {
        var ac = {{.fontmt.Account}};
        var lv = {{.fontmt.Level}};
        $.ajax({
            url: '/api/mission',
            type: "POST",
            data: {
                account:{{.fontmt.Account}},
                level: a,
            },
            success: function (info) {
                var res = info.data[0].result;
                var Html1 = ''; //勋章内容1
                var Html2 = ''; //勋章内容2
                var Html3 = ''; //勋章内容3
                var Html4 = ''; //勋章内容4
                var Html5 = ''; //勋章内容5
                var Html3a = ''; //勋章内容6
                var Html3b = ''; //勋章内容7
                var Html3c = ''; //勋章内容8
                var Html3d = ''; //勋章内容9
                var rHtml = ''; //立即申请按钮
                var mHtml = ''; //再次申请按钮
                var aHtml = ''; //html内容
                var asHtml = ''; //html内容+
                var allHtml = ''; //全部html内容
                var int = ''; //Integral
                var max = ''; //MaxLevel
                var min = ''; //MinLevel
                var des = ''; //MissionDescribe
                var det = ''; //MissionDetailDescribe
                var did = ''; //MissionDetailId
                var mid = ''; //MissionId
                var rmk = ''; //Remark
                var sts = ''; //Statusy
                var cd = ''; //CreateDate
                if( info.data[0].result == undefined || info.data[0].result == null) {
                    Html1 = '<div class="task' + a + ' dropdown-menu" aria-labelledby="' + 'dropdownMenu' + a + '">' + '<div class="taskname">' + '<span>' + '</span>' + 'VIP' + a + '任务内容' + '</div>'+'<div class="taskson">' + '<div class="ss2">' + '<span class="sps">当前等级暂无任务，敬请期待...</span>' + '</div>' + '</div>' + '</div>';
                    $('.divimg').append(Html1);
                    $('#remark').append(rmk);
                } else {
                    if (res.length != 0) {
                        for (var i = 0; i < res.length; i++) {
                            des = res[i].MissionDescribe;
                            det = res[i].MissionDetailDescribe;
                            did = res[i].MissionDetailId;
                            mid = res[i].MissionId;
                            max = res[i].MaxLevel;
                            min = res[i].MinLevel;
                            int = res[i].Integral;
                            sts = res[i].Status;
                            rmk = res[i].Remark;
                            cd = res[i].CreateDate;
                            var cd1 = cd.slice(0, 10);
                            var cd2 = cd.substr(11, 5);
                            Html1 = '<div class="task' + a + ' dropdown-menu" aria-labelledby="' + 'dropdownMenu' + a + '">' + '<div class="taskname">' + '<span>' + '</span>' + 'VIP' + a + '任务内容' + '</div>';
                            Html2 = '<div class="taskson">' + '<div class="ss2">' + '<span class="sp1">' + des + '</span>';
                            Html3 = '<span class="sp1">' + det + '</span>';
                            aHtml = Html2 + Html3;
                            rHtml = '<button id="' + 'bo' + i + '" class="btnssa btn" onclick="gets(' + a + ',\'' + ac + '\',' + mid + ',' + did + ',' + min + ',' + max + ',' + int + ')">' + '立即申请' + '</button>';
                            mHtml = '<button id="' + 'bz' + i + '" class="btnssa btn" onclick="get(' + i + ',\'' + ac + '\',' + mid + ',' + did + ',' + min + ',' + max + ',' + int + ')">' + '再次申请' + '</button>';
                            Html3b = '<button class="btnssb btn">' + '申请中' + '</button>';
                            Html3c = '<button class="btnssc btn">' + '申请成功' + '</button>';
                            Html3d = '<span class="sp3">您于北京时间' + cd1 + '-' + cd2 + '申请奖励失败' + '</span>';
                            Html3a = '<span class="sp3">' + '客服回复：' + rmk + '</span>';
                            if(lv == a) {
                                if (sts == -1) {
                                    aHtml = aHtml + rHtml;
                                } else if (sts == 0) {
                                    aHtml = aHtml + Html3b
                                } else if (sts == 1) {
                                    aHtml = aHtml + Html3a + Html3c
                                } else if (sts == 2) {
                                    aHtml = aHtml + Html3d + Html3a + mHtml;
                                }
                            }
                            Html4 = '</div>' + '</div>';
                            aHtml = aHtml + Html4;
                            asHtml += aHtml;
                            Html5 = '</div>';
                            allHtml = Html1 + asHtml + Html5;
                        } 
                        $('.divimg').append(allHtml);
                        $('#remark').append(rmk);
                        $(".app").css('height','55em');
                    }
                }
            }
        });
    }

    $.ajax({
        url: '/api/mission',
        type: "POST",
        data: {
            account:{{.fontmt.Account}},
            level:{{.fontmt.Level}},
        },
        success: function (info) {
            var res = info.data[0].result;
            var Html1 = ''; //勋章内容1
            var Html2 = ''; //勋章内容2
            var Html3 = ''; //勋章内容3
            var Html4 = ''; //勋章内容4
            var Html5 = ''; //勋章内容5
            var Html3a = ''; //勋章内容6
            var Html3b = ''; //勋章内容7
            var Html3c = ''; //勋章内容8
            var Html3d = ''; //勋章内容9
            var rHtml = ''; //立即申请按钮
            var mHtml = ''; //再次申请按钮
            var aHtml = ''; //html内容
            var asHtml = ''; //html内容+
            var allHtml = ''; //全部html内容
            var int = ''; //Integral
            var max = ''; //MaxLevel
            var min = ''; //MinLevel
            var des = ''; //MissionDescribe
            var det = ''; //MissionDetailDescribe
            var did = ''; //MissionDetailId
            var mid = ''; //MissionId
            var rmk = ''; //Remark
            var sts = ''; //Status
            var cd = ''; //CreateDate
            if( info.data[0].result == undefined || info.data[0].result == null) {
                Html1 = '<div class="task-last">' + '<div class="taskname">' + '<span>' + '</span>' + '当前VIP任务内容' + '</div>'+'<div class="taskson2">' + '<div class="ss2">' + '<span class="sps">当前等级暂无任务，敬请期待...</span>' + '</div>' + '</div>' + '</div>';
                $('.abc').append(Html1);
                $('#remark').append(rmk);
            } else {
                if (res.length != 0) {
                    for (var i = 0; i < res.length; i++) {
                        des = res[i].MissionDescribe;
                        det = res[i].MissionDetailDescribe;
                        did = res[i].MissionDetailId;
                        mid = res[i].MissionId;
                        max = res[i].MaxLevel;
                        min = res[i].MinLevel;
                        int = res[i].Integral;
                        sts = res[i].Status;
                        rmk = res[i].Remark;
                        cd = res[i].CreateDate;
                        var cd1 = cd.slice(0, 10);
                        var cd2 = cd.substr(11, 5);
                        Html1 = '<div class="task-last">' + '<div class="taskname">' + '<span>' + '</span>' + '当前VIP等级任务内容' + '</div>';
                        Html2 = '<div class="taskson2">' + '<div class="ss2">' + '<span class="sp1">' + des + '</span>';
                        Html3 = '<span class="sp2">' + det + '</span>' + '<div class="btf">';
                        aHtml = Html2 + Html3;
                        rHtml = '<button id="' + 'bo' + i + '" class="btnssa btn" onclick="get(' + i + ',\'' + ac + '\',' + mid + ',' + did + ',' + min + ',' + max + ',' + int + ')">' + '立即申请' + '</button>';
                        mHtml = '<button id="' + 'bz' + i + '" class="btnssa btn" onclick="get(' + i + ',\'' + ac + '\',' + mid + ',' + did + ',' + min + ',' + max + ',' + int + ')">' + '再次申请' + '</button>';
                        Html3b = '<button class="btnssb btn">' + '申请中' + '</button>';
                        Html3c = '<button class="btnssc btn">' + '申请成功' + '</button>';
                        Html3d = '<span class="sp3">您于北京时间' + cd1 + '-' + cd2 + '申请奖励失败' + '</span>';
                        Html3a = '<span class="sp3">' + '客服回复：' + rmk + '</span>';
                        if (sts == -1) {
                            aHtml = aHtml + rHtml;
                        } else if (sts == 0) {
                            aHtml = aHtml + Html3b
                        } else if (sts == 1) {
                            aHtml = aHtml + Html3a + Html3c
                        } else if (sts == 2) {
                            aHtml = aHtml + Html3d + Html3a + mHtml;
                        }
                        Html4 = '</div>' + '</div>' + '</div>';
                        aHtml = aHtml + Html4;
                        asHtml += aHtml;
                        Html5 = '</div>';
                        allHtml = Html1 + asHtml + Html5;
                    }
                    $('.abc').append(allHtml);
                    $('#remark').append(rmk);
                }
            }
        }
    });
    function gets(a, b, c, d, e, f, g) {
        $.ajax({
            url: '/createmissionreview',
            type: "POST",
            data: {
                account: b,
                missionid: c,
                missioindetailid: d,
                minlevel: e,
                maxlevel: f,
                Integral: g
            },
            success: function (info) {
                if (info.code == 1) {
                }
                layer.msg(info.msg);
            },
        });
    }
    function get(a, b, c, d, e, f, g) {
        $.ajax({
            url: '/createmissionreview',
            type: "POST",
            data: {
                account: b,
                missionid: c,
                missioindetailid: d,
                minlevel: e,
                maxlevel: f,
                Integral: g
            },
            success: function (info) {
                if (info.code == 1) {
                }
                layer.msg(info.msg);
            },
        });
        setTimeout(function () {
            history.go(0);
        }, 1000)
    }
</script>
<script>
var animateButton = function(e) {
e.preventDefault;
//reset animation
e.target.classList.remove('animate');
e.target.classList.add('animate');
setTimeout(function(){
  e.target.classList.remove('animate');
},700);
};
var classname = document.getElementsByClassName("bubbly-button");
for (var i = 0; i < classname.length; i++) {
classname[i].addEventListener('click', animateButton, false);
}
</script>
<script>
    function prize(obj){
        obj.style.display='none';
        var int; 
        var fa = {{.fontmt.Account}};
        $.ajax({
            url: '/gettimegift',
            type: "POST",
            data: {
                account: fa
            },
            success: function (info) {
                if(info.code == 1) {
                    $(".cash").show();
                    $('#myModal').show();
                    var gift = info.data.gift;
                    $('.jj3').html(gift);
                    setTimeout(function () {
                        history.go(0);
                        // $(".cash").load(location.href+".cash");
                    }, 1800)
                } else {
                    obj.style.display='block';
                    layer.alert(info.msg, {icon: 5});
                }
            },
        });
    }
    var close = document.getElementById("closeBtn");
    close.addEventListener('click',function(){
        $('#myModal').hide();
    },false)

    function clickaOne(){
        $('#myModal2').show();
        $.ajax({
        url: '/querytimegift',
        type: "POST",
        data: {
            account: {{.fontmt.Account}}
        },
        success: function (info) {
            var gifts = info.data.gifts;
            if (gifts) {
                var ml = '';
                var html = '';
                for (var i = 0; i < gifts.length; i++) {
                    var time = gifts[i].Time;
                    var name = gifts[i].Name;
                    var time1 = time.slice(0, 10);
                    var time2 = time.substr(11, 5);
                    ml = '<hr><div class="fldiv"><p class="fp">'+time1+'&nbsp;&nbsp;&nbsp;'+time2+'</p><p class="lp">'+name+'</p></div>'
                    html += ml;
                }
            }
            $('#mby1').html(html);
        },
    });
    }
    var close2 = document.getElementById("closeBtn2");
    close2.addEventListener('click',function(){
        $('#myModal2').hide();
    },false);

    function clickaTwo(){
        $('#myModal3').show();
    }
    var close3 = document.getElementById("closeBtn3");
    close3.addEventListener('click',function(){
        $('#myModal3').hide();
    },false)
</script>
<script>
var t = {{.getGiftTime}};
    function getRTime(){
		if(t<=0) {
			window.clearInterval(int);
			location.href = location.href;
		}
		var d=Math.floor(t/60/60/24); 
		var h=Math.floor(t/60/60%24); 
		var m=Math.floor(t/60%60); 
		var s=Math.floor(t%60);

        $('#dnb').html(d);
        $('#hnb').html(h);
        $('#mnb').html(m);
        $('#snb').html(s);

        $(".days").hide();
        $(".hours").hide();
        $(".minutes").hide();
        $(".seconds").hide();
		if(d>0) {
            $(".days").show();
        }
        if(h>0) {
            $(".hours").show();
        }
        if(m>0) {
            $(".minutes").show();
        }
            $(".seconds").show();

		t = t-1;
    }
    
    if(t <= 0) {
        $("#bbtn").show();
        $(".cash").hide(); 

        }
    if(t > 0) {
        $("#bbtn").hide();
        $(".cash").show();
    }

	if(t > 0) {
		int = setInterval(getRTime,1000);
	}
</script>
<script type="text/javascript">
    function altRows(id){
        if(document.getElementsByTagName){  
            
            var table = document.getElementById(id);  
            var rows = table.getElementsByTagName("tr"); 
             
            for(i = 0; i < rows.length; i++){          
                if(i % 2 == 0){
                    rows[i].className = "evenrowcolor";
                }else{
                    rows[i].className = "oddrowcolor";
                }      
            }
        }
    }
    
    window.οnlοad=function(){
        altRows('alternatecolor');
    }
</script>
</body>
</html>