<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template "sysmanage/aalayout/meta.tpl" .}}
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <!--tab标签-->
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class=""><a href='{{urlfor "IndexMissionController.get"}}'>任务配置列表</a></li>
                    <li class="layui-this">计算结果列表</li>
                </ul>
                <div class="layui-tab-content">
                    <form class="layui-form layui-form-pane form-container" style="max-width: 1500px;" action='{{urlfor "IndexMissionResultController.get"}}' method="get">
                        <input type="hidden" name="id" value="{{.Missionid}}">
                        <div class="layui-inline">
                            <div class="layui-form-inline">
                                <label class="layui-form-label">开始时间</label>
                                <div class="layui-input-block">
                                    <input type="text" name="startTime" value="{{.condArr.starttime}}" placeholder="开始时间" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-form-inline">
                                <label class="layui-form-label">结束时间</label>
                                <div class="layui-input-block">
                                    <input type="text" name="endTime" value="{{.condArr.endtime}}" placeholder="开始时间" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="account" value="{{.condArr.account}}" placeholder="会员账号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="status">
                                    <option value="3" {{if eq 3 .condArr.status}}selected="selected"{{end}}>全部审核状态</option>
                                    <option value="1" {{if eq 1 .condArr.status}}selected="selected"{{end}}>审核通过</option>
                                    <option value="0" {{if eq 0 .condArr.status}}selected="selected"{{end}}>审核中</option>
                                    <option value="2" {{if eq 2 .condArr.status}}selected="selected"{{end}}>审核拒绝</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="checkbox" name="isExport" value="1" lay-skin="switch" lay-text="导出|导出">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn">搜索</button>
                            <a href='{{urlfor "IndexMissionResultController.Delbatch"}}' class="layui-btn layui-btn-danger ajax-batch">批量删除</a>
                            <a href='{{urlfor "IndexMissionResultController.Reviewbatch"}}' class="layui-btn layui-btn-normal ajax-batch">批量标记审核通过</a>
                        </div>
                    </form>
                    <br>
                    <div class="layui-inline">
                        活动内容:<span style="color: red">{{.describe}}</span>
                    </div>
                    <div class="layui-tab-item layui-show">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <td>编号</td>
                                <td>创建时间</td>
                                <td>会员账号</td>
                                <td>奖品</td>
                                <td>是否领取</td>
                                <th style="width:60px;">审核状态</th>
                                <td>领取时间</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            {{range $index, $vo := .dataList}}
                            <tr>
                                <td>{{$vo.Id}}</td>
                                <td>{{date $vo.CreateDate "Y-m-d H:i:s"}}</td>
                                <td>{{$vo.Account}}</td>
                                <td>{{$vo.Prize}}</td>
                                <td>{{if eq 0 $vo.Enable}}<span class="layui-badge layui-bg-red">否</span>{{else}}是{{end}}</td>
                                <td>{{if eq $vo.Status 0}}
                                        <span class="layui-badge layui-bg-orange">审核中</span>
                                    {{else if eq $vo.Status 1}}
                                        <span class="layui-badge layui-bg-green">审核通过</span>
                                    {{else if eq $vo.Status 2}}
                                        <span class="layui-badge layui-bg-red">审核拒绝</span>
                                    {{end}}
                                </td>
                                <td>{{date $vo.GetTime "Y-m-d H:i:s"}}</td>
                                <td>
                                    {{if eq $vo.Status 0}}
                                        <button href='{{urlfor "IndexMissionResultController.Review" "id" $vo.Id "status" 1}}'
                                           class="layui-btn layui-btn-xs ajax-click">审核通过</button>
                                        <button href='{{urlfor "IndexMissionResultController.Review" "id" $vo.Id "status" 2}}'
                                           class="layui-btn layui-btn-danger layui-btn-xs ajax-click">审核拒绝</button>
                                    {{else if eq $vo.Status 1}}
                                        <button href='{{urlfor "IndexMissionResultController.Review" "id" $vo.Id "status" 2}}'
                                           class="layui-btn layui-btn-danger layui-btn-xs ajax-click">审核拒绝</button>
                                    {{else if eq $vo.Status 2}}
                                        <button href='{{urlfor "IndexMissionResultController.Review" "id" $vo.Id "status" 1}}'
                                           class="layui-btn layui-btn-xs ajax-click">审核通过</button>
                                    {{end}}
                                    <button href='{{urlfor "IndexMissionResultController.Delone" "id" $vo.Id}}' class="layui-btn layui-btn-danger layui-btn-xs ajax-delete">删除</button>
                                </td>
                            </tr>
                            {{else}}
                                {{template "sysmanage/aalayout/table-no-data.tpl"}}
                            {{end}}
                            </tbody>
                        </table>
                    {{template "sysmanage/aalayout/paginator.tpl" .}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "sysmanage/aalayout/footjs.tpl" .}}
<script>
    layui.use(['layer'], function () {
        $('.ajax-count').on('click', function () {
            var _href = $(this).attr('href');
            layer.open({
                shade: false,
                content: '该操作将根据期数名称批量处理数据，请谨慎操作！<br>确定执行？',
                btn: ['确定', '取消'],
                yes: function (index) {
                    $.ajax({
                        url: _href,
                        type: "POST",
                        data: $('.layui-form').serialize(),
                        beforeSend:function(){
                            layer.load();
                        },
                        success: function (info) {
                            layer.closeAll('loading');
                            if (info.code === 1) {
                                layer.msg(info.msg, {icon: 1});
                            } else {
                                layer.msg(info.msg, {icon: 2});
                            }
                        },
                        error: function(info) {
                            layer.closeAll('loading');
                            layer.msg(info.responseText || '请求异常', {icon: 2});
                        }
                    });
                    layer.close(index);
                }
            });

            return false;
        });
    })
</script>
<script>
    layui.use(['laydate'], function(){

        var laydate = layui.laydate;
        laydate.render({
            elem: 'input[name="startTime"]',
            type: 'datetime'
        });
        laydate.render({
            elem: 'input[name="endTime"]',
            type: 'datetime'
        });
    })
</script>
</body>
</html>
