<!DOCTYPE html>
<html>
<head>
{{template "sysmanage/aalayout/meta.tpl" .}}
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <!--tab标签-->
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class=""><a href='{{urlfor "MembersingleIndexController.get"}}'>会员投注列表</a></li>
                    <li class="layui-this">添加会员投注</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="layui-form form-container" action='{{urlfor "MembersingleAddController.post"}}'
                              method="post">
                        {{ .xsrfdata}}
                            <div class="layui-form-item">
                                <label class="layui-form-label">会员账号</label>
                                <div class="layui-input-block">
                                    <input type="text" name="Account" placeholder="请输入会员账号" required lay-verify="required"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">投注金额</label>
                                <div class="layui-input-block">
                                    <input onkeyup = "value=value.replace(/[^\d]/g,'')" type="number" name="Bet" placeholder="请输入投注金额" required lay-verify="required"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">晋级彩金</label>
                                <div class="layui-input-block">
                                    <input onkeyup = "value=value.replace(/[^\d]/g,'')" type="number" name="LevelGift" placeholder="请输入晋级彩金" required lay-verify="required"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">当天好运金</label>
                                <div class="layui-input-block">
                                    <input onkeyup = "value=value.replace(/[^\d]/g,'')" type="number" name="LuckyGift" placeholder="请输入当天好运金" required lay-verify="required"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "sysmanage/aalayout/footjs.tpl" .}}
</body>
</html>
