<!DOCTYPE html>
<html>
<head>
    {{template "sysmanage/aalayout/meta.tpl" .}}
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <!--tab标签-->
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class=""><a href='{{urlfor "MemberTotalIndexController.get"}}'>会员总投注列表</a></li>
                    <li class="layui-this">修改会员统计</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="layui-form form-container" action='{{urlfor "MembertotalEditController.post"}}'
                              method="post">
                            {{ .xsrfdata}}
                            <input type="hidden" name="Id" value="{{.data.Id}}">
                            <div class="layui-form-item">
                                <label class="layui-form-label">会员账号</label>
                                <div class="layui-input-block">
                                    <input type="hidden" name="Account"  value="{{.data.Account}}">
                                    <input type="text"  value="{{.data.Account}}" placeholder="请输入会员账号" required lay-verify="required"
                                           class="layui-input" disabled>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">VIP等级</label>
                                <div class="layui-input-block">
                                    <input type="number" name="Level" value="{{.data.Level}}" placeholder="请输入VIP等级" required lay-verify="required"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">会员积分</label>
                                <div class="layui-input-block">
                                    <input type="number" name="Bet" value="{{.data.Bet}}" placeholder="请输入投注金额" required lay-verify="required"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "sysmanage/aalayout/footjs.tpl" .}}
</body>
</html>
